<h2>Delete file?</h2>
<a href="#" onclick="window.history.back();" class="button">Back</a>
<br/>
{{#if isImage }}
<img src="/preview/{{upload.uploadId}}" alt="{{upload.fileName}}" />
{{else}}
<p>No preview available</p>
{{/if}}
<form action="/delete/{{upload.uploadId}}" method="POST">
    <input type="submit" value="Delete" />
    <input type="hidden" name="_csrf" value="{{./req.csrfToken}}"/>
</form>