<h2>My files</h2>
<a href="/" class="button">Back</a>
<table>
    <thead>
        <tr>
            <td>File Name</td>
            <td>Preview</td>
            <td>Link</td>
        </tr>
    </thead>
    <tbody>
        {{#each files}}
        <tr>
            <td>{{ this.fileName }}</td>
            <td class="image-preview">
                {{#if (eq this.mimeType "image/jpeg") }}
                <img src="/preview/{{this.uploadId}}" alt="{{this.fileName}}"/>
                {{else if (eq this.mimeType "image/png") }}
                <img src="/preview/{{this.uploadId}}" alt="{{this.fileName}}"/>
                {{else}}
                <p>No preview available</p>
                {{/if}}
            </td>
            <td>{{ this.uploadId }}</td>
        </tr>
        {{/each}}
    </tbody>
</table>